# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
conda/
env/
*.lock

# Data (NEVER COMMIT)
data/
raw/
normalized/
test_runtime/
*.parquet
!tests/data/
!tests/data/**

# OS
.DS_Store
Thumbs.db

*.egg-info/
